<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
    <context-param>
        <param-name>APIKey</param-name>
        <param-value>AIzaSyDCfNMlghkn9GtcNjecs-2AjLbPxzk-paQ</param-value>
    </context-param>
    
	<servlet>
		<servlet-name>GET_SWOLE_APPENGINE</servlet-name>
		<servlet-class>cs65.dartmouth.get_swole.GET_SWOLE_APPENGINEServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GET_SWOLE_APPENGINE</servlet-name>
		<url-pattern>/get_swole_appengine</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>cs65.dartmouth.get_swole.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>	
		
	<servlet>
		<servlet-name>PostDataServlet</servlet-name>
		<servlet-class>cs65.dartmouth.get_swole.PostDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostDataServlet</servlet-name>
		<url-pattern>/post_data</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>GetFriendProfiles</servlet-name>
		<servlet-class>cs65.dartmouth.get_swole.GetFriendProfiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetFriendProfiles</servlet-name>
		<url-pattern>/get_friends</url-pattern>
	</servlet-mapping>
	
	

	
	
</web-app>
